/**
 * Custom stylesheet for the list.html template.
 *
 * TODO: Fix minor centering isse with modalBtn class (font-awesome characters
 * appear slightly off-center).
 */

.well {
  line-height: 34px;
  margin: 0 auto;
  margin-bottom: 45px;
  margin-top: 18px;
  max-width: 95%;
  vertical-align: middle;
}

.table tbody tr td {
  vertical-align: middle;
}

.modalBtn {
  height: 75px;
  width: 75px;
}


input .ng-invalid .ng-dirty {
  border: 1px solid red;
}
