/*
Custom stylesheet for the index.html page.
*/

body {
  max-width: 2880px;
  margin: 0 auto;
}

/* Heading tags */
h3 {
  padding: 7px 24px;
}

.wrapper {
  margin: 0 auto;
  padding: 45px;
}

.main-content {
  max-width: 1440px;
}

input .ng-invalid .ng-dirty {
  border: 1px solid red;
}
