<!--
HTML view for the edit customer form.

TODO: Custom validation.
-->

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"
      aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">
      Update {{ customerToEdit.fullName | possessive }} Information:
  </h3>
</div> <!-- /.modal-header -->

<div class="modal-body">
  <!-- Form for editing the customer's record -->
  <form class="form-horizontal" name="editForm" novalidate>

    <!-- Name -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="nameTextInput">
          Name
      </label>
      <div class="col-sm-10">
        <input data-ng-model="editedCustomer.fullName" name="name"
            type="text" class="form-control" id="nameTextInput"
            placeholder="{{ customerToEdit.fullName }}" ng-pattern="regexName"
            required />
        <div class="text-danger formErrorMsg"
            ng-show="editForm.name.$touched && editForm.name.$dirty &&
            editForm.name.$invalid">
          <small>Enter a first and last name.</small>
        </div>
        <span class="text-danger formErrorMsg"
            ng-show="editForm.name.$touched && editForm.name.$error.required">
          <small>This field is required.</small>
        </span>
      </div>
    </div>

    <!-- Email -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="emailTextInput">
          Email
      </label>
      <div class="col-sm-10">
        <input data-ng-model="editedCustomer.email"
            name="email" type="email" class="form-control" id="emailTextInput"
            placeholder="{{ customerToEdit.email }}" required />
          <div class="text-danger formErrorMsg"
              ng-show="editForm.email.$invalid && editForm.email.$dirty || editForm.email.$touched"
              ng-hide="editForm.email.$valid">
            <small>Enter a valid email address.</small>
          </div>
      </div>
    </div>

    <!-- Phone number -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="telTextInput">
          Telephone
      </label>
      <div class="col-sm-10">
        <input data-ng-model="editedCustomer.telephone" name="phone" type="text"
            class="form-control" id="telTextInput"
            placeholder="{{ customerToEdit.telephone }}"
            ng-pattern="phoneRegex" required />
          <div class="text-danger formErrorMsg"
              ng-show="editForm.phone.$invalid">
            <small>Enter the area code and phone number.</small>
          </div>
      </div>
    </div>

    <!-- Street -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="streetTextInput">
          Street
      </label>
      <div class="col-sm-10">
        <input data-ng-model="editedCustomer.street" name="street" type="text"
            class="form-control" id="streetTextInput"
            placeholder="{{ customerToEdit.street }}" required />
          <div class="text-danger formErrorMsg"
              ng-show="editForm.street.$invalid && editForm.street.$dirty || editForm.street.$touched"
              ng-hide="editForm.street.$valid">
            <small>Enter a street.</small>
          </div>
      </div>
    </div>

    <!-- City -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="cityTextInput">
          City
      </label>
      <div class="col-sm-10">
        <input data-ng-model="editedCustomer.city" name="city" type="text"
            class="form-control" id="cityTextInput"
            placeholder="{{ customerToEdit.city }}" required />
          <div class="text-danger formErrorMsg"
              ng-show="editForm.city.$invalid && editForm.city.$dirty || editForm.city.$touched"
              ng-hide="editForm.city.$valid">
            <small>Enter a city.</small>
          </div>
      </div>
    </div>

    <!-- State -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="stateTextInput">
          State
      </label>
      <div class="col-sm-3">
        <select data-ng-model="editedCustomer.state"
            class="form-control" name="state">
          <option label=" "></option>
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="DE">Delaware</option>
          <option value="DC">District Of Columbia</option>
          <option value="FL">Florida</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="ID">Idaho</option>
          <option value="IL">Illinois</option>
          <option value="IN">Indiana</option>
          <option value="IA">Iowa</option>
          <option value="KS">Kansas</option>
          <option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option>
          <option value="ME">Maine</option>
          <option value="MD">Maryland</option>
          <option value="MA">Massachusetts</option>
          <option value="MI">Michigan</option>
          <option value="MN">Minnesota</option>
          <option value="MS">Mississippi</option>
          <option value="MO">Missouri</option>
          <option value="MT">Montana</option>
          <option value="NE">Nebraska</option>
          <option value="NV">Nevada</option>
          <option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option>
          <option value="NM">New Mexico</option>
          <option value="NY">New York</option>
          <option value="NC">North Carolina</option>
          <option value="ND">North Dakota</option>
          <option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
          <option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>
        </select>
        <div class="text-danger formErrorMsg"
            ng-show="editForm.state.$invalid && editForm.state.$dirty || editForm.state.$touched"
            ng-hide="editForm.state.$valid">
          <small>Enter a state.</small>
        </div>
      </div>
    </div>

    <!-- Zip code -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="zipTextInput">
          Zip Code
      </label>
      <div class="col-sm-3">
        <input data-ng-model="editedCustomer.zip" name="zip" type="text"
            class="form-control" id="zipTextInput"
            placeholder="{{ customerToEdit.zip }}" required />
          <div class="text-danger formErrorMsg"
              ng-show="editForm.zip.$invalid && editForm.zip.$dirty || editForm.zip.$touched"
              ng-hide="editForm.zip.$valid">
            <small>Enter a zip code.</small>
          </div>
      </div>
    </div>

  </form>
</div> <!-- /.modal-body -->

<div class="modal-footer">
  <!-- Submit or reset the form. -->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button data-ng-click="updateCustomer()" type="button"
          class="btn btn-success modalBtn" data-dismiss="modal">
        <i class="fa fa-check fa-2x"></i>
        <br />Save</button>
      <button type="reset" class="btn btn-danger modalBtn"
          data-ng-click="dismiss()">
        <i class="fa fa-times fa-2x"></i>
        <br />Cancel</button>
    </div>
  </div> <!-- /.form-group -->
</div> <!-- /.modal-footer -->
