/*
cybercare_app
/components/customers/customers.css

Custom stylesheet for the customers.html template.
*/

.well {
  line-height: 34px;
  margin: 0 auto;
  margin-bottom: 45px;
  margin-top: 18px;
  max-width: 95%;
  vertical-align: middle;
}

.table tbody tr td {
  vertical-align: middle;
}

.modalBtn {
  height: 75px;
  width: 75px;
}
